<!DOCTYPE html>
<html>
	<head>
		<meta lang="eng">
		<meta charset="UTF-8">
		<title>Article Editor</title>
	</head>
	<body style="background-color:grey; overflow-y: scroll; ">
		<header><h1>ADD NEWS</h1></header>

		<form action="/writing" method="POST">
			<div>
				<p>Title:</p>
				<textarea name="title" rows="5" cols="30"></textarea>
				<p>Article:</p>
				<textarea name="article" rows="10" cols="100"></textarea>
				<p>Author:</p>
				<textarea name="author" rows="5" cols="30"></textarea>
				<br><br>
				<button>Save and Share</button>
			</div>
		</form>
	</body>
</html>