<!DOCTYPE html>

<html>
	<head>
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=700">

		<title>CHAT</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css')}}" />

	</head>

	<body>
		<div class="chat">
		<div class="chat-header">
	    	<h2>Chat</h2>
		</div>
	  	<div class="chat-messages">
			<form action="/chat">
				<ul>
					{% for message in chat_messages %}
					<div class="chat-text">
						<p>{{ message }}</p><br>		<!-- From chat_history -->
					</div>
					{% endfor %}
				</ul>
			</form>
		</div>
			<form action="/message" method="POST">
				<div class="chat-input">
	    			<input type="text" name='chat' placeholder="Type your message..." required>
	    			<button>Send</button>
				</div>
			</form>
		</div>
		
	</body>

</html>