<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=700">

		<title>SIGN UP</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css')}}" />
	
	</head>

	<body>
		<form class="logs" method="POST" action="/sign">
			<h1>Sign up</h1>

			<label for="username">Login</label><br/>
			<input type="text" id="username" placeholder="Write your login" name="username" required /> <br/>
			<ul>
				<p style="color:red;">{{ rep_username | safe }}</p>		<!-- Error with username -->
			</ul>
			<label for="psw">Password</label><br/>
			<input type="password" id="psw" placeholder="Enter password" name="psw" required /><br/>


			<label for="psw-repeat">Password repeat</label><br/>
			<input type="password" id="psw-repeat" placeholder="Repeat password" name="psw-repeat" required /><br/>

			<div class="clearfix">
      		<button type="button" class="cancelbtn">Cancel</button>
      		<button type="submit" class="signupbtn">Registration</button>
    		</div>
			<ul>
				<p style="color:red;">{{ not_repeat | safe }}</p>		<!-- Error with repeat password -->
			</ul>
		</form>
	</body>
</html>
